/* 🔥 Fundo com imagem */
body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: url("/static/img/fundo.png") no-repeat center center;
    background-size: cover;
    height: 150%;
}

/* 🧊 Camada por cima do fundo (melhora leitura) */
.form-reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.cont-inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 400px;
    margin-top: 100px;
}


/* 📦 Formulário */
.form-container {
    background: rgba(231, 231, 231, 0.253);
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Inputs */
input, select, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 50px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}